{% load i18n %}
<nav class="d-flex justify-space-around">
<ul class="pagination{% if style %} {{ style }}{% endif %}" aria-label="Page index">
    {% if pg.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page=1{% if query %}&query={{ query }}{% endif %}" title="{% trans 'First page' %}">&laquo;</a>
    </li>
    {% endif %}
{% for i in idx %}
    <li class="page-item">
    {% if i != '..' and i != pg.number %}
        <a class="page-link" href="./?page={{ i }}{% if query %}&query={{ query }}{% endif %}">{{ i }}</a>
    {% else %}
        <span class="page-link{% if i == pg.number %} active disabled{% endif%}">{{ i }}</span>
    {% endif %}
    </li>
{% endfor %}
    {% if pg.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ pg.paginator.num_pages }}{% if query %}&query={{ query }}{% endif %}" title="{% trans 'Last page' %}">&raquo;</a>
    </li>
    {% endif %}
</ul>
{% if pg %}
<div class="m-2">{% blocktrans with pg_first=pg.start_index pg_last=pg.end_index total=pg.paginator.count %}
    {{ pg_first }}-{{ pg_last }} of {{ total }}{% endblocktrans %}</div>
{% endif %}
</nav>

