{% extends 'base.html' %}
{% load i18n legends %}
{% trans 'Search results' as search_results  %}

{% block head_title %} {% firstof category search_results %}{% endblock %}

{% block css %}
    {{ block.super }}
<link href='//api.mapbox.com/mapbox.js/v3.2.1/mapbox.css' rel='stylesheet' />
<style>
    a.title { color: #9A3503 }
    cite { display: block; padding-top: .3rem;}

    .badge {
        color: #212529;
        float: right;
        background-color: #f8f9fa;
    }
    div.list-group {
        margin-bottom: 2rem
        }
    .nav-tabs .nav-link {
        text-shadow: none;
        padding: .5rem 1rem;
        color: inherit;
    }
    #map-box { height: 640px; width: 100% }
</style>
{% endblock %}

{% block menu %}
    {% include 'legends/inc_categories.html' with ancestors=category.get_ancestors categories=categories current_cat=category %}
{% endblock %}

{% block redirect_to %}{% url 'category-by-id' cid=category.pk %}{% endblock %}

{% block breadcrumb %}
    {% for ancestor in category.get_ancestors %}
<li class="breadcrumb-item"><a href="{{ ancestor.get_absolute_url }}">{{ ancestor.name }}</a></li>{% endfor %}
{% endblock %}

{% block title %}{% firstof category.name search_results %}
{% endblock %}

{% block content %}
    {% block subcategories %}{% endblock %}
<nav>
    <div class="nav nav-tabs" role="tablist">
        <a class="nav-item nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="true">{% trans 'List' %}</a>
        <a class="nav-item nav-link" id="map-tab" data-toggle="tab" href="#map" role="tab" aria-controls="map" aria-selected="false">{% trans 'Map' %}</a>
        <div class="ml-auto small d-flex flex-row align-content-center">
            {% page_index page_obj style="mb-0" %}
            <form class="input-group ml-2" action="{% if category %}{% url 'search-category' slug=category.slug %}#{% else %}{% url 'search' %}{% endif %}">
                <input type="text" name="query" {% if request.GET.query|length %} value="{{ request.GET.query }}" {% endif %}class="form-control-sm" placeholder="{% trans 'Search' %}{% if category %} {% trans 'category' %}{% endif %}" aria-label="{% trans 'Search box with button' %}" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-sm btn-outline-secondary" id="button-addon2"><i class="fa fa-search"></i></button>
                </div>
            </form></div>
    </div>
</nav>
<div class="tab-content">
    <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
    {% for narr in object_list %}
        {% include 'legends/inc_list_item.html' with narr=narr category=category %}
    {% endfor %}
    </div>
    <div class="tab-pane fade pt-3" id="map" role="tabpanel" aria-labelledby="map-tab">
        <div id="map-box"></div>
    </div>
</div>
<small class="nav mx-auto">{% page_index page_obj style="mt-3 justify-content-center" %}</small>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src='//api.mapbox.com/mapbox.js/v3.2.1/mapbox.js'></script>
    <script src="//unpkg.com/axios/dist/axios.min.js"></script>
    <script>
var map = mapLoaded = placesLayer = false;

// '//api.mapbox.com/v4/{id}/{z}/{x}/{y}.jpg70?access_token={accessToken}', {
// maxZoom: 13,
// id: 'mapbox.satellite',

var centroid = [0, 0],
    mapboxLayer = L.tileLayer('//api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox/streets-v11',
        accessToken: '{{ map_token }}'
    });


axios.get('{% url "api-category-places" category=category.slug %}?page={{ page_obj.number|default:1 }}').then(function(response) {
    placesLayer = L.geoJSON(response.data, {
        style: function (feature) {
            return {color: feature.properties.color || '#F00'};
        },
        onEachFeature: function (feature, layer) {
            var id = feature.properties.pk,
                content = '<h5>' + feature.properties.name + '</h5>';
            $('.place-' + id).each(function(i, o) {
                content += o.parentElement.outerHTML + '<br />'
            })
            layer.bindPopup(content);
        }
    })
})
$(document).ready(function () {

    $('#map-tab').on('shown.bs.tab', function (e) {
        if (mapLoaded)
            return;
        var bounds = placesLayer.getBounds(),
            centroid = bounds.getCenter();
        map = L.map('map-box', {
            center: [centroid.lat, centroid.lng],
            minZoom: 5,
            zoom: 9,
            scrollWheelZoom: false
        });
        mapboxLayer.addTo(map);
        placesLayer.addTo(map)
        map.fitBounds(bounds);
        mapLoaded = true
    })
})
    </script>
{% endblock %}
