{% load i18n static %}
<!doctype html>
<html lang="{% get_current_language as LANGUAGE_CODE %}">
  <head>
    <meta charset="utf-8">
    <!--meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"-->
    <meta name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no' />

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    <meta name="keywords" content="{% trans 'portuguese legends archive '%}{%block keywords%}{%endblock%}" />
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    {% block css %}
    {% endblock %}
  </head>

  <body>
      <header class="navbar fixed-top navbar-light align-items-start flex-nowrap">
          <a class="navbar-brand" href="/">
              <div class="d-none d-md-block"><img alt="{% trans 'Centro de Estudos Ataíde Oliveira' %}" src="{% static 'img/logo.png' %}"></div>
              <div class="d-xs-block d-md-none"><img alt="{% trans 'Centro de Estudos Ataíde Oliveira' %}" src="{% static 'img/log.png' %}"></div>
          </a>
          <nav class="navbar-nav ml-md-5 mr-1 d-flex" style="flex-grow: 1" aria-label="breadcrumb">
              <ol class="breadcrumb flex-wrap">
      {% block  breadcrumb %}
          {% for ancestor in current_cat.get_ancestors %}
                  <li class="breadcrumb-item"><a href="{{ ancestor.get_absolute_url }}">{{ ancestor.name }}</a></li>{% endfor %}
      {% endblock %}
              </ol>
          </nav>
          <div class="navbar-nav flex-row ml-md-auto">
              <form class="form-inline my-2 my-lg-0" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                  <input name="next" type="hidden" value="{% block redirect_to %}{% endblock %}">
                  {% get_available_languages as LANGUAGES %}
                  {% get_language_info_list for LANGUAGES as languages %}
                  {% for language in languages %}
                  {% if language.code == LANGUAGE_CODE %} <span class="btn btn-sm active disabled">{{ language.code }}</span> {% else %} <button class="btn btn-sm" name="language" value="{{ language.code }}">{{ language.code }}</button> {% endif %}
                  {% endfor %}
              </form>
              <button class="navbar-toggler d-flex d-md-none ml-auto" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
          </div>

      </header>
      <div class="container-fluid">
  {% block body %}
          <div class="row flex-xl-nowrap">
              <div class="col-12 mt-1 mt-md-5 mt-md-5 pt-md-3 col-md-3 col-xl-2 bd-sidebar">
                  <nav class="collapse bd-links" id="bd-docs-nav">
                      <form class="input-group mt-md-5 mb-3" method="post" action="/search/">
                          {% csrf_token %}
                          <input type="text" class="form-control" placeholder="{% trans 'Search' %}" aria-label="Search box with button" aria-describedby="button-addon1">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary" id="button-addon1"><i class="fa fa-search"></i></button>
                          </div>
                      </form>
                      <div class="bd-toc-item">
        {% block menu %}
            {% include 'legends/inc_categories.html' with ancestors=current_cat.get_ancestors categories=categories %}
        {% endblock %}
                      </div>
                  </nav>
              </div>
          {% block sidebar %}
              <div class="d-none d-xl-block col-xl-2 bd-toc" style="display: none">
                  One of three columns
              </div>
          {% endblock %}
              <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-3 bd-content">
                  <div class="container-fluid content">
                        <h1>{% block title %}{% trans 'Archive of Portuguese Legends' %}{% endblock %}</h1>
                        {% block content %}{% endblock %}
                  </div>
              </main>
          </div>
      </div>
  {% endblock %}

  {% block js %}
    <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script>
          $('[data-target="#bd-docs-nav"]').click(function (ev) {
               window.scrollTo(0, 0);
               return true
          })
      </script>
  {% endblock %}
  </body>
</html>